.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.img {
  filter: brightness(40%);
}
.full-height {
  height:85vh;
}
html,
body,
#app,
#app > div {
  height: 100%;
  background-color: rgba(37, 81, 94, 0);
}
