.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.img {
  filter: brightness(40%);
}
/*
html,
body,
#app,
#app > div {
  height: 100%;
  background-color: rgb(10, 46, 56);
}
*/
