@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
#home {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://www.barclayscenter.com/assets/img/Parm-910x450-bc510c5a07.jpg")
      no-repeat center center fixed;
  /* display: table; */
  height: 100vh;
  /* position: relative; */
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  font-family: "Open Sans", sans-serif;
}

.landing-text {
  /* display: table-cell; */
  text-align: center;
  /* vertical-align: middle; */
}

.underline {
  text-decoration: underline;
}

.input-search {
  height: 8vh;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}
#navbar {
  background-color: rgba(92, 92, 92, 0.507) !important;
}

.searchback {
  background-color: white;
  font-family: "Libre Baskerville", serif;
}

.data {
  font-size: 1rem;
}
.input-search{
  width: 15rem ;
}